<h1>Welcome to Rock Paper Scissors</h1>
<form action="/result_page">
  <div class="form-group">
    <label for="result_a">User A, please enter rock, paper or scissors</label>
    <input id="result_a" name="result_a" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="result_b">User B, please enter rock, paper or scissors</label>
    <input id="result_b" name="result_b" class="form-control" type="text">
  </div>

  <button type="submit" class="btn-success">Send</button>
</form>
